/*index.css*/

.delete {
  margin-right: 5px;
  margin-left: 75px;
}

#title {
  color: #94C7FA;
}

#create-task {
  display:flex;
  justify-content: space-around;
  align-items:center;
  height:40px;
  border-radius:5px;
  outline-style: dotted;
}
body {
  background-color: lightgray;
}
main{
  background-color: white;
  width:50vw;
  margin:30px auto;
  padding:20px;
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  font-family: sans-serif;
  border-radius:10px;
  box-shadow: 0px 0px 4px 4px gray;
}
#new-task-content{
  border:none;
  background-color: inherit;
  flex-grow:2;
  padding:5px;
  font-size: 1rem;
  width:70%;
}

#todo-list {
  margin-top: 10px;
  display:flex;
  flex-direction: column;
  overflow: hidden;
}
#todo-list row {
  justify-content: space-between;
  margin:10px 0px;
  align-items: center;
  transition: transform 0.5s ease-out;
}
button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #E2E2E2;
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

button:hover,
button:focus {
    background: #EEEFEF;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}
